In [1]:
import pandas as pd

In [18]:
machine=pd.read_csv('./adaptData/machine-train.csv')
machine

,id,prompt_id,prompt,text,model,temperature,exam_type,score,score_level
0,weccl_30,WECCL-17,Some people think the university education is ...,There are many people who think that universit...,text-babbage-001,0.50,weccl,19,high
1,weccl_51,WECCL-17,Some people think the university education is ...,There are a number of reasons why people might...,text-babbage-001,0.65,weccl,13,medium
2,weccl_48,WECCL-17,Some people think the university education is ...,There are many reasons why university educatio...,text-babbage-001,0.65,weccl,13,medium
3,weccl_50,WECCL-17,Some people think the university education is ...,There are many people who think that universit...,text-babbage-001,0.65,weccl,12,low
4,weccl_55,WECCL-17,Some people think the university education is ...,There is a general consensus that university e...,text-babbage-001,0.80,weccl,13,medium
...,...,...,...,...,...,...,...,...,...
3333,gre_1179,GRE-676,Governments should focus more on solving the i...,Governments play a crucial role in addressing ...,gpt-3.5-turbo,0.80,gre,6,high
3334,gre_1181,GRE-678,It is primarily through our identification wit...,"As social beings, humans are naturally incline...",gpt-3.5-turbo,0.80,gre,5,high
3335,gre_590,GRE-679,The study of history has value only to the ext...,History can often be seen as an abstract conce...,text-davinci-003,0.80,gre,5,high
3336,gre_591,GRE-680,As long as people in a society are hungry or o...,I disagree with the statement that it is inapp...,text-davinci-003,0.80,gre,5,high
3337,gre_1184,GRE-681,The best test of an argument is its ability to...,When it comes to evaluating the validity of an...,gpt-3.5-turbo,0.80,gre,5,high

In [100]:
machine_dd=machine['text'].to_frame()
machine_dd['label']=1
machine_dd.to_csv('./adaptData/processed_machine.csv',index=None)
machine_dd

                                                   text  label
0     There are many people who think that universit...      1
1     There are a number of reasons why people might...      1
2     There are many reasons why university educatio...      1
3     There are many people who think that universit...      1
4     There is a general consensus that university e...      1
...                                                 ...    ...
3333  Governments play a crucial role in addressing ...      1
3334  As social beings, humans are naturally incline...      1
3335  History can often be seen as an abstract conce...      1
3336  I disagree with the statement that it is inapp...      1
3337  When it comes to evaluating the validity of an...      1

[3338 rows x 2 columns]

In [95]:
human=pd.read_table('./adaptData/training_set_rel3.tsv',encoding='unicode_escape')
human=human.sample(n=3340)['essay'].to_frame().reset_index(drop=True)
human

                                                  essay
0     The author finishes it with this because sprin...
1     The author concluded the story with this parag...
2     In the memoir, "Narciso Rodriguez" from Home: ...
3     I believe censorship should be used in librari...
4     The features of the setting in this story make...
...                                                 ...
3335   When I was young me and my friends would play...
3336  The author concludes the story like that becau...
3337  In this memoir the author creates a feeling of...
3338  The features of setting affect the cyclist in ...
3339  In think the author is trying to show that Sae...

[3340 rows x 1 columns]

In [85]:
def process_dear(text:str):
    if text.startswith('Dear'):
        idx=text.find(',')
        text=text[idx+2:]
    text=text.replace('\n','').replace('\\','').replace('/','').replace('@','').replace('','')
    text=text.strip(' ')
    return text

In [96]:
human_dd=human['essay'].map(process_dear).to_frame()
human_dd

                                                  essay
0     The author finishes it with this because sprin...
1     The author concluded the story with this parag...
2     In the memoir, "Narciso Rodriguez" from Home: ...
3     I believe censorship should be used in librari...
4     The features of the setting in this story make...
...                                                 ...
3335  When I was young me and my friends would play ...
3336  The author concludes the story like that becau...
3337  In this memoir the author creates a feeling of...
3338  The features of setting affect the cyclist in ...
3339  In think the author is trying to show that Sae...

[3340 rows x 1 columns]

In [97]:
human_dd.columns=['text']
human_dd['label']=0
human_dd

                                                   text  label
0     The author finishes it with this because sprin...      0
1     The author concluded the story with this parag...      0
2     In the memoir, "Narciso Rodriguez" from Home: ...      0
3     I believe censorship should be used in librari...      0
4     The features of the setting in this story make...      0
...                                                 ...    ...
3335  When I was young me and my friends would play ...      0
3336  The author concludes the story like that becau...      0
3337  In this memoir the author creates a feeling of...      0
3338  The features of setting affect the cyclist in ...      0
3339  In think the author is trying to show that Sae...      0

[3340 rows x 2 columns]

In [98]:
human_dd.to_csv('./adaptData/processed_human.csv',index=None)

In [102]:
con=pd.concat([machine_dd,human_dd])
con=con.sample(frac=1).reset_index(drop=True)
con.to_csv('./adaptData/processed_mixed.csv',index=None)
con

                                                   text  label
0     Successful people are often considered to be t...      1
1     There is no doubt that we have become a throw-...      1
2     There will be fewer cars in use in twenty year...      1
3     There were several different moods created by ...      0
4     In the memoir "Narciso Rodriguez," by Narciso ...      0
...                                                 ...    ...
6673  I believe that successful people try new thing...      1
6674  In the story Winter Hibiscus by CAPS1 Ho. Th...      0
6675  In the memoir "Narciso Rodriguez" from CAPS1: ...      0
6676  The mood that the author was portraying in the...      0
6677  The author concludes the story with this parag...      0

[6678 rows x 2 columns]